@import '../../assets/features/main.scss';

.container {
  background-color: $black;
  color: $white;

  h1.title {
    font-size: 240px;
    font-family: $font-base;
    text-align: right;
    padding-right: 10px;

    & span {
      display: block;
      // background: linear-gradient(#1E1F1E  60%, #DBDBDB 0%);
      line-height: 0.8em;
    }
  }
  .feature {
    height: 285px;
    border-radius: 50%;
    border: 1px solid $white;
    position: absolute;
    right: -340px;
    width: 1200px;
    top: 300px;
    display: block;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr;
    padding: 100px 0; 

    h2 {
      font-family: $font-feature;
      margin: 0;
      padding: 0;
      line-height: 1em;
      position: -webkit-sticky;
      position: sticky;
      top: 30px;
    }
    .content {
      width: 70%;
      & .heading {
        font-weight: bold;
      }
      h3 {
        font-family: $font-feature;
      }
      p {
        padding: 30px 0;
      }
      ul {
        margin: 0;
        padding: 0;
  
        li {
          list-style: none;
          text-indent: 30px;
          a {
            color: $white;
            text-decoration: none;
            &:hover {
              border-bottom: 1px solid $white;
            }
          }
        }
      }

    }
  }
}

