@keyframes background-colour-transition{
  0% {
    background-color: #22557A;
  }
  10% {
    background-color: #729CBF;
  }
  20% {
    background-color: #B4BED0;
  }
  30% {
    background-color: #D3B7BA;
  }
  40% {
    background-color: #C69A8F;
  }
  50% {
    background-color: #F5C09B;
  }
  60% {
    background-color: #D56B5E;
  }
  70% {
    background-color: #88636A;
  } 
  80% {
    background-color: #8C5159;
  }
  90% {
    background-color: #3C77A4;
  }
  100% {
   background-color: #1A4464;
  }
 }