$black: #1E1F1E;
$white: #DBDBDB;
$highlight-primary: #1A4464;
$highlight-secondary: #C69A8F;
$highlight-tertiary: #797979;
$highlight-quaternary: #729CBF;

$font-title: 'Noto Sans JP', sans-serif;
$font-feature: 'Abril Fatface', cursive;
$font-subtitle: 'Staatliches', cursive;
$font-base: 'PT Serif', serif;

/* LIGHT THEME */

/* DARK THEME */