@mixin background-colour-animation {
  animation-name: background-colour-transition;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}
@mixin header-text-transition {
  animation-name: header-text-transition;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}
@mixin text-colour ($colour) {
  @if($colour == light){
    color: $black !important;
  } 
  @if($colour == dark){
    color: $white !important;
  }
}
@mixin background-colour ($colour){
  @if($colour == light){
    background-color: $white !important;
  } 
  @if($colour == dark){
    background-color: $black !important;
  }
}
@mixin border-colour ($colour){
  @if($colour == light){
    border-color: $black !important;
  } 
  @if($colour == dark){
    border-color: $white !important;
  }
}