@import './animations.scss';

@mixin background-colour-animation {
  animation-name: background-colour-transition;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}
@mixin header-text-transition {
  animation-name: header-text-transition;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}