@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-family: $font-title;
  font-weight: bolder;
  font-size: 80px;
  @media only screen and (min-width: 760px) {
    font-size: 140px; 
  }
  @media only screen and (min-width: 1000px) {
    font-size: 300px; 
    margin:0 0 0 0;
  }
}
h2 {
  font-family: $font-subtitle;
  font-size: 70px;
  text-align: center;
  @media only screen and (min-width: 760px) {
    font-size: 115px;
  }
  @media only screen and (min-width: 1000px) {
    font-size: 185px;
    margin: 45px;
    padding-top: 45px;
  }
}
h3 {
  @media only screen and (min-width: 1000px) {
    font-size: 50px;
  }
}
h4 {
  font-family: $font-title;

  @media only screen and (min-width: 1000px) {
    font-size: 50px;
  }
}
p, li, a {
  font-family: 'PT Serif', serif;
  @media only screen and (min-width: 1000px) {
    font-size: 24px;
  }
}
