@import '../../assets/features/main.scss';

.menu {
  position: absolute;
  width: 100%;
  background-color: $white;
  opacity: 0.98;
  height: 100vh;
  top: 0;
  z-index: 100;
  li {
    list-style: none;
    text-align: center;
    padding: 10px;

    a {
      color: $black;
      text-decoration: none;
      font-family: $font-feature;
      font-size: 55px;

      @media only screen and (min-width: 1000px) {
        font-size: 180px;
      }
      
      &:hover {
        border-radius: 50%;
        border: 1px solid $black;

        &.primary {
          color: $highlight-primary;
        }
        &.secondary {
          color: $highlight-secondary;
        }
        &.tertiary {
          color: $highlight-tertiary;
        }
      }
    }
  }
}
.button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 30px;

  & .icon {
    width: 30px;
    @include header-text-transition;
  }
  &:hover{
    cursor: grab;
  }
}
