.menu {
  position: absolute;
  width: 100%;
  background-color: red;
  height: 100%;
  top: 0;
  z-index: 100;
  
  li {
    list-style: none;
    text-align: center;
    padding: 15px;
    
    a {
      color: white;
      font-size: 35px;
      text-decoration: none;
    }
  }
}
.button {
  background-color: transparent;
  border: none;
  height: 3rem;
  padding: 20px;
  font-size: 20px;
  outline: none;

  & .vertical{
    writing-mode: vertical-rl;
    text-orientation: upright;

  }

  &__close {
    color: white
  }
}
