.menu {
  position: absolute;
  width: 100%;
  background-color: #F1F1F1;
  opacity: 0.95;
  height: 100%;
  top: 0;
  z-index: 100;
  
  li {
    list-style: none;
    text-align: center;
    padding: 10px;
    
    a {
      color: #000;
      font-size: 80px;
      text-decoration: none;
      font-family: 'Abril Fatface', cursive;
    }
  }
}
.button {
  background-color: transparent;
  border: none;
  height: 3rem;
  padding: 20px;
  font-size: 20px;
  outline: none;

  & .vertical{
    writing-mode: vertical-rl;
    text-orientation: upright;

  }

  &__close {
    color: #000;
    font-size: 100px;
  }
  &:hover{
    cursor: grab;
  }
}
