@import '../../assets/features/main.scss';

.home.container {
  position: relative;
  height: 450px;
  padding-bottom: 20px;
  
  @media only screen and (min-width: 1000px) {
    height: 100vh;
    padding-bottom: 100px;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (min-width: 1000px) {
      align-items: center;
    }
    & a.non_menu_link {
      @include text-colour(light);
      text-decoration: none;
      padding: 30px;
    }
  }

  h1 { 
    position: relative;
    z-index: 10;
    margin:0 0 0 0;
    padding-left: 30px;

    @media only screen and (min-width: 1000px) {
      text-align: left;
      line-height: 16rem;
    }
  }
}
.float {
  &__left {
    display: block;

  }
  &__right {
    display: block;
  }
  @media screen and (min-width: 1000px){
    &__left {
      padding-left: 150px;
    }
    &__right {
      padding-right: 150px;
      text-align: end;
    }
  }

}
.feature {
  &__header {
  display: none;
  }
  &__right {
    display: none;
  }
  @media only screen and (min-width: 1000px) {
    &__header {
      height: 165px;
      border-radius: 50%;
      border: 1px solid $black;
      position: absolute;
      left: -178px;
      width: 1000px;
      top: 300px;
      display: block;
    }
    &__right {
      display: block;
      border: 1px solid $black;
      height: 165px;
      border-radius: 50%;
      width: 1000px;
      top: 300px;
      right: -450px;
      position: absolute;
    }
  }
}
