@import '../../assets/features/mixins.scss';

.container {
  @include background-colour-animation;
  height: 100%;
  position: relative;
  
  header {
    display: flex;
    justify-content: space-between;

    & a.non_menu_link {
      text-decoration: none;
      writing-mode: vertical-rl;
      text-orientation: upright;
      padding: 10px;
    }
  }

  h1 {
    font-size: 55px; 
    text-align: center;
    position: relative;
    z-index: 10;
    font-weight: 100;

    @media only screen and (min-width: 760px) {
      font-size: 140px; 
      
    }
    @media only screen and (min-width: 1000px) {
      font-size: 240px; 
      text-align: left;
      line-height: 12rem;
      margin-top: 50px;
    }
  }
}
.float {
  &__left {
    display: block;

  }
  &__right {
    display: block;
  }
  @media screen and (min-width: 1000px){
    &__left {
      padding-left: 150px;
    }
    &__right {
      padding-right: 150px;
      text-align: end;
    }
  }

}
.feature {

  &__bottom {
    height: 165px;
    border-radius: 50%;
    border: 1px solid #000;
    position: absolute;
    left: -178px;
    width: 1000px;
    top: 220px;
  }
}
.img {
  &__top {
    width: 260px;
    position: absolute;
    right: 382px;
    top: 40px;
  }
  &__bottom {
    width: 260px;
    position: absolute;
    bottom: 10px;
    z-index: 1;
    left: 200px;
  }

  &__reference {
    display: none;
  }
}
.filler_container {
  height: 100px;
  background-color: #fff;
}