@import '../../assets/features/mixins.scss';

.container {
  @include background-colour-animation;
  position: relative;
  height: 450px;
  padding-bottom: 20px;
  
  @media only screen and (min-width: 1000px) {
    height: 100%;
    padding-bottom: 100px;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (min-width: 1000px) {
      align-items: center;
    }
    & a.non_menu_link {
      color: #000;
      text-decoration: none;
      padding: 30px;
      @media only screen and (min-width: 1000px) {
        writing-mode: vertical-rl;
        text-orientation: upright;
      }
    }
  }

  h1 {
    font-size: 80px; 
    position: relative;
    z-index: 10;
    font-weight: 100;
    margin:0 0 0 0;
    padding-left: 30px;

    @media only screen and (min-width: 760px) {
      font-size: 140px; 
    }
    @media only screen and (min-width: 1000px) {
      font-size: 240px; 
      text-align: left;
      line-height: 12rem;
      margin: 50px 0 0 0;

    }
  }
}
.float {
  &__left {
    display: block;

  }
  &__right {
    display: block;
  }
  @media screen and (min-width: 1000px){
    &__left {
      padding-left: 150px;
    }
    &__right {
      padding-right: 150px;
      text-align: end;
    }
  }

}
.feature {
  &__header {
  display: none;
  }
  &__right {
    display: none;
  }
  @media only screen and (min-width: 1000px) {
    &__header {
      height: 165px;
      border-radius: 50%;
      border: 1px solid #000;
      position: absolute;
      left: -178px;
      width: 1000px;
      top: 220px;
      display: block;
    }
    &__right {
      display: block;
      border: 1px solid #000;
      height: 165px;
      border-radius: 50%;
      width: 1000px;
      top: 300px;
      right: -450px;
      position: absolute;
    }
  }
}
.img {
  &__top {
    width: 185px;
    position: absolute;
    right: 22px;
    top: 135px;

    @media only screen and (min-width: 760px) {
      width: 266px;
      right: 184px;
      top: 117px;
    }
    @media only screen and (min-width: 1000px) {
      right: 382px;
      top: 40px;
    }
  }
  &__bottom {
    display:none;
    @media only screen and (min-width: 1000px) {
      width: 260px;
      position: absolute;
      bottom: -125px;
      z-index: 1;
      left: 200px;
      display: block;
    }
  }
  &__reference {
    display: none;
  }
}
.introduction {
  padding: 10px 20px;
  @media only screen and (min-width: 760px) {
    padding: 50px 20px;
  }
  @media only screen and (min-width: 1000px) {
    width: 50%;
    padding: 10px 20px;
    float: right;
  }
  
}

.work {
  & h2 {
    margin: 10px;
    @media only screen and (min-width: 760px){
      text-align: left !important;
      text-indent: 10%;
    }
    @media only screen and (min-width: 1000px) {
      clear: both;
    }
  }
}