.scroll_left {
  width: 30px;
  height: 30px;
  background-image: url('../../assets/images/angle-double-right-solid.svg');
  display: block;
  background-repeat: no-repeat;
}
.scroll_right {
  width: 30px;
  height: 30px;
  background-image: url('../../assets/images/angle-double-right-solid.svg');
  display: block;
  background-repeat: no-repeat;
}
.active {
  color: red;
}
.not_active {
  color: red;
}